//Text
$colorTitle: hsl(238, 29%, 16%);
$colorHover: hsl(14, 88%, 65%);
$colorSumary: hsl(237, 12%, 33%);
$colorText: hsl(240, 6%, 50%);

//Dividers
$dividers: hsla(240, 5%, 91%,.95);

//Background gradient:
$softViolet: hsl(273, 75%, 66%);
$SoftBlue: hsl(240, 73%, 65%);